%table{:class => "table table-striped table-bordered"}
  %thead
    %tr
      %th= t "activerecord.attributes.discipline.name"
      %th= t "activerecord.attributes.discipline.repository_themes"
      %th= t "activerecord.attributes.discipline.tests"
      - if @current_user && @current_user.admin?
        %th Действия
  %tbody
    - @disciplines.each do |discipline|
      %tr
        %td= link_to discipline.name, blocs_groups_path(:discipline => discipline)
        %td
          - discipline.repository_themes.each do |theme|
            = link_to theme.name, theme
            %br
        %td
          - discipline.subjects.each do |subject|
            - subject.tests.each do |test|
              = link_to test.name, test
              %br
        - if @current_user && @current_user.admin?
          %td.actions
            = link_to "<i class='icon-edit'></i>".html_safe, edit_discipline_path(discipline), :class => 'btn btn-mini'
            = link_to "<i class='icon-trash icon-white'></i>".html_safe, discipline_path(discipline), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Вы уверены?")}", :class => 'btn btn-mini btn-danger' 
