= form_for @discipline, :html => {:class => 'form-horizontal'} do |f|
  -if @discipline.errors.any?
    .div.error
      %h2= "При сохранении произошли ошибки"
      %ul
        - @discipline.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'input-xlarge'
    .form-actions
      = f.submit 'Сохранить', :class => "btn btn-primary"
      = link_to 'Назад', disciplines_path, :class => 'btn'
