%h1 Список дисциплин

= form_tag disciplines_path, :method => 'get', :id => 'disciplines_search' do 
  %fieldset
    = text_field_tag :search, params[:search], :class => 'input-xlarge'
    = submit_tag "Поиск", :name => nil, :class => 'btn btn-search'

#disciplines= render 'disciplines'

= link_to 'Новая дисциплина', new_discipline_path, :class => 'btn'
