= form_for @script, :html => {:class => 'form-horizontal'} do |f|
  -if @script.errors.any?
    .div.error
      %h2= "При сохранении произошли ошибки"
      %ul
        - @script.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'input-xlarge'
    .control-group
      = f.label :order, :class => 'control-label'
      .controls
        = f.check_box :order, :class => 'checkbox'
    .control-group
      = f.label :redirect_page, :class => 'control-label'
      .controls
        = f.text_field :redirect_page, :class => 'input-xlarge'
    .control-group
      = f.label :time, :class => 'control-label'
      .controls
        = f.number_field :time, :class => 'input-xlarge'
    .control-group
      = f.label :blocked, :class => 'control-label'
      .controls
        = f.check_box :blocked, :class => 'checkbox'
    .control-group
      = f.label :test_id, :class => 'control-label'
      .controls
        = f.select :test_id, Test.all.map{|t| [t.name, t.id]}
    %p
      Варианты вывода результатов:
      .control-group
        = f.label :procents, :class => 'control-label'
        .controls
          = f.check_box :procents, :class => 'checkbox'
      .control-group
        = f.label :passed_themes, :class => 'control-label'
        .controls
          = f.check_box :passed_themes, :class => 'checkbox'
      .control-group
        = f.label :detalized, :class => 'control-label'
        .controls
          = f.check_box :detalized, :class => 'checkbox'
    .control-group
      = f.label :theme_tokens, "Темы", :class => 'control-label'
      .controls
        = f.text_field :theme_tokens, "data-pre"=>@script.themes.map(&:attributes).to_json
    .control-group
      = f.label :sub_theme_tokens, "Подтемы", :class => 'control-label'
      .controls
        = f.text_field :sub_theme_tokens, "data-pre"=>@script.sub_themes.map(&:attributes).to_json
    .form-actions
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to 'Назад', scripts_path, :class => 'btn'
