= form_for @script do |f|
  -if @script.errors.any?
    .div.error
      %h2= "При сохранении произошли ошибки"
      %ul
        - @script.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    &nbsp;
    = f.text_field :name
  .field
    = f.label :order
    &nbsp;
    = f.check_box :order
  .field
    = f.label :redirect_page
    &nbsp;
    = f.text_field :redirect_page
  .field
    = f.label :time
    &nbsp;
    = f.number_field :time
  .field
    = f.label :blocked
    &nbsp;
    = f.check_box :blocked
  .field
    = f.label :test_id
    &nbsp;
    = f.select :test_id, Test.all.map{|t| [t.name, t.id]}
  %p
    Варианты вывода результатов:
    .field
      = f.label :procents
      &nbsp;
      = f.check_box :procents
    .field
      = f.label :passed_themes
      &nbsp;
      = f.check_box :passed_themes
    .field
      = f.label :detalized
      &nbsp;
      = f.check_box :detalized
  .field
    = f.label :theme_tokens, "Темы"
    &nbsp;
    = f.text_field :theme_tokens, "data-pre"=>@script.themes.map(&:attributes).to_json
  .actions
    = f.submit 'Сохранить'
