%h1 Список сценариев

%table
  %tr
    %th Название
    %th Порядок вопросов
    %th Страница перенаправления
    %th Время теста
    %th Заблокирован
    %th Тест
    %th
    %th
    %th

  - @scripts.each do |script|
    %tr
      %td= script.name
      %td= script.get_order
      %td= script.redirect_page
      %td= script.time
      - if script.blocked
        %td ДА
      - else
        %td НЕТ
      %td= script.test.name
      %td= link_to 'Подробнее', script
      %td= link_to 'Редактировать', edit_script_path(script)
      %td= link_to 'Удалить', script, :confirm => 'Вы уверены?', :method => :delete

%br

= link_to 'Новый сценарий', new_script_path
