%h1 Список сценариев

%table.table.table-striped
  %tr
    %th Название
    %th Порядок
    %th Страница перенаправления
    %th Время теста
    %th Заблокирован
    %th Тест
    %th

  - @scripts.each do |script|
    %tr
      %td= link_to script.name, script
      %td= script.order
      %td= script.redirect_page
      %td= script.time
      - if script.blocked
        %td ДА
      - else
        %td НЕТ
      %td= script.test.name
      %td.delete= link_to 'Удалить', script, :confirm => 'Вы уверены?', :method => :delete, :class => 'btn btn-danger'

%br

= link_to 'Новый сценарий', new_script_path, :class => 'btn'
