%h1 Список сценариев
%table{:class => "table table-striped table-bordered"}
  %thead
    %tr
      %th= t "activerecord.attributes.script.name"
      %th= t "activerecord.attributes.script.script_themes"
      %th= t "activerecord.attributes.script.script_subthemes"
      - if @current_user && @current_user.admin?
        %th.actions Действия
  %tbody
    - @scripts.each do |script|
      %tr
        %td= link_to script.name, script_path(script)
        %td
          - script.script_themes.each do |script_theme|
            = link_to script_theme.name, script_theme_path(script_theme)
            %br
        %td
          - script.script_themes.each do |script_theme|
            - script_theme.script_sub_themes.each do |script_sub_theme|
              =link_to script_sub_theme.name, script_sub_theme_path(script_sub_theme)
              %br
        - if @current_user && @current_user.admin?
          %td.actions
            = link_to "<i class='icon-edit'></i>".html_safe, edit_script_path(script), :class => 'btn btn-mini', 'rel' => 'tooltip', 'title' => 'Редактировать'
            = link_to "<i class='icon-trash icon-white'></i>".html_safe, script_path(script), :method => :delete, :confirm => "#{ t "web-app-theme.confirm"}", :class => 'btn btn-mini btn-danger', 'rel' => 'tooltip', 'title' => 'Удалить'
- if @current_user && @current_user.admin?
  = link_to "Новый сценарий", new_script_path, :class => 'btn btn-primary'

.free-space
