%span{:class => "label"}= t("activerecord.attributes.script.name") + ":"
%p= @script.name
%span{:class => "label"}= t("activerecord.attributes.script.redirect_page") + ":"
%p= @script.redirect_page
%span{:class => "label"}= t("activerecord.attributes.script.time") + ":"
%p= @script.time
%span{:class => "label"}= t("activerecord.attributes.script.blocked") + ":"
%p= @script.blocked ? "Да" : "Нет"
%span{:class => "label"}= t("activerecord.attributes.script.order_themes") + ":"
%p= @script.order_themes ? "Да" : "Нет"
%span{:class => "label"}= t("activerecord.attributes.script.questions_to_pass") + ":"
%p= @script.questions_to_pass
%span{:class => "label"}= t("activerecord.attributes.script.themes_to_pass") + ":"
%p= @script.themes_to_pass
%span{:class => "label"}= t("activerecord.attributes.script.results") + ":"
%p= @script.results
%span{:class => "label"}= t("activerecord.attributes.script.examine_id") + ":"
%p= @script.examine.name
%span{:class => "label"}= t("activerecord.attributes.script.base_script_id", :default => t("activerecord.labels.base_script_id", :default => "Base script")) + ":"
%p= @script.base_script_id
- if !@script.script_themes.blank?
  %label{:class => "label"} Темы
  - @script.script_themes.each do |theme|
    %p= link_to theme.name, theme
    %label{:class => "label"} Подтемы
    - theme.script_sub_themes.each do |sub_theme|
      %p= link_to sub_theme.name, sub_theme

.form-actions
  = link_to "Назад", scripts_path, :class => 'btn'
  = link_to "Редактировать", edit_script_path(@script), :class => 'btn'
  = link_to "Удалить", script_path(@script), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Вы уверены?")}", :class => 'btn btn-danger'
