= form_for @theme, :html => {:class => 'form-horizontal'} do |f|
  -if @theme.errors.any?
    #error_explanation
      %h2= "#{pluralize(@theme.errors.count, "error")} prohibited this theme from being saved:"
      %ul
        - @theme.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'input-xlarge'
    .control-group
      = f.label :discipline_token, "Дисциплина", :class => 'control-label'
      .controls
        = f.text_field :discipline_token, "data-pre"=>@theme.discipline.to_a.map(&:attributes).to_json
    .form-actions
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to 'Назад', themes_path, :class => 'btn'
