%h1 Список тем

%table
  %tr
    %th Название
    %th Дисциплина
    %th
    %th

  - @themes.each do |theme|
    %tr
      %td= theme.name
      %td= theme.discipline.name
      %td= link_to 'Редактировать', edit_theme_path(theme)
      %td= link_to 'Удалить', theme, :confirm => 'Вы уверены?', :method => :delete

%br

= link_to 'Новая тема', new_theme_path
