%h1 Script Sub Themes
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.script_sub_theme.name", :default => t("activerecord.labels.name", :default => "Name"))
      %th Created at
      %th Actions
  %tbody
    - @script_sub_themes.each do |script_sub_theme|
      %tr
        %td= script_sub_theme.id
        %td= link_to script_sub_theme.name, script_sub_theme_path(script_sub_theme)
        %td= script_sub_theme.created_at
        %td
          = link_to "Show", script_sub_theme_path(script_sub_theme), :class => 'btn btn-mini'
          = link_to "Edit", edit_script_sub_theme_path(script_sub_theme), :class => 'btn btn-mini'
          = link_to "Destroy", script_sub_theme_path(script_sub_theme), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger' 

= link_to "New", new_script_sub_theme_path, :class => 'btn btn-primary'
