%fieldset
  %legend
    = t "controllers.#{controller_name}.#{action_name}"
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Отмена", groups_path, :class => 'btn'
