= form_for @group, :html => {:class => 'form-horizontal'}, :validate => true do |f|
  -if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'input-xlarge'
    .form-actions
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to 'Назад', groups_path, :class => 'btn'
