%h1 Список групп

%table.table.table-striped
  %tr
    %th Номер
    %th Год обучения
    %th

  - @groups.each do |group|
    %tr
      %td= link_to group.name, :controller => 'tests', :discipline => params['discipline'], :group => group
      %td= group.year
      %td.edit-delete
        = link_to 'Редактировать', edit_group_path(group), :class => "btn"
        = link_to 'Удалить', group, :confirm => 'Вы уверены?', :method => :delete, :class => "btn btn-danger"
      
- if @tests
  %h1 Список тестов
  %table
    %tr
      %th Список тестов
      %th Группа
      %th Список сценариев
      %th Действия

    - @tests.each do |test|
      %tr
        %td= link_to test.name, test
        %td= test.disciplines_groups.group.name + " - " + test.disciplines_groups.group.year
        %td
          - test.scripts.each do |script|
            = link_to script.name, script
            %br
        %td= link_to 'Удалить', test, :confirm => 'Вы уверены?', :method => :delete

%br

= link_to 'Новая группа', new_group_path, :class => 'btn'
