= form_for @result do |f|
  -if @result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@result.errors.count, "error")} prohibited this result from being saved:"
      %ul
        - @result.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :procents
    = f.number_field :procents
  .field
    = f.label :themes
    = f.number_field :themes
  .field
    = f.label :detalized
    = f.number_field :detalized
  .actions
    = f.submit 'Save'
