%h1 Listing results

%table
  %tr
    %th Procents
    %th Themes
    %th Detalized
    %th
    %th
    %th

  - @results.each do |result|
    %tr
      %td= result.procents
      %td= result.themes
      %td= result.detalized
      %td= link_to 'Show', result
      %td= link_to 'Edit', edit_result_path(result)
      %td= link_to 'Destroy', result, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Result', new_result_path
