%p#notice= notice

%p
  %b Procents:
  = @result.procents
%p
  %b Themes:
  = @result.themes
%p
  %b Detalized:
  = @result.detalized

= link_to 'Edit', edit_result_path(@result)
\|
= link_to 'Back', results_path
