%fieldset
  %legend= t "controllers.#{controller_name}.#{action_name}"
  -if @block.errors.any?
    .alert.alert-error
      %h6 При сохранении произошли ошибки
  .control-group
    = f.label :year, :class => 'control-label'
    .controls
      = f.select :year, @block.years
  .control-group
    = f.label :discipline_token, "Дисциплина"
    .controls
      = f.text_field :discipline_token, "data-pre"=>@block.discipline.to_a.map(&:attributes).to_json
  .control-group
    = f.label :group_tokens, "Группы"
    .controls
      = f.text_field :group_tokens, "data-pre"=>@block.groups.map(&:attributes).to_json
  .control-group
    = f.label :block_num, :class => 'control-label'
    .controls
      = f.number_field :block_num, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Отмена", blocks_path, :class => 'btn'
