= form_tag 
%fieldset
  %legend= t "controllers.#{controller_name}.#{action_name}"
  .control-group
    = f.label :group_tokens, "Группы"
    .controls
      = f.text_field :group_tokens, "data-pre"=>@block.groups.map(&:attributes).to_json
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Отмена", blocks_path, :class => 'btn'
