%span{:class => "label"}= "Дисциплина" + ":"
%p= @block.discipline.name
%span{:class => "label"}= "Год" + ":"
%p= @block.year
%span{:class => "label"}= "Группы" + ":"
%p
  = @block.groups.map(&:name).join(', ')

.form-actions
  = link_to "Назад", blocks_path, :class => 'btn'
  = link_to "Редактировать", edit_block_path(@block), :class => 'btn'
  = link_to "Удалить", block_path(@block), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Вы уверены?")}", :class => 'btn btn-danger'
