%h1 Список подтем

%table
  %tr
    %th Название
    %th Тема
    %th Начальный индекс вопросов
    %th Конечный индекс вопросов
    %th Выдать вопросов
    %th Ожидать ответов
    %th Вопросы по порядку?
    %th


  - @sub_themes.each do |sub_theme|
    %tr
      %td= sub_theme.name
      %td= sub_theme.theme.name
      %td= sub_theme.start_num
      %td= sub_theme.end_num
      %td= sub_theme.questions
      %td= sub_theme.answers
      %td= sub_theme.order ? "ДА" : "НЕТ"
      %td.edit
        = link_to 'Редактировать', edit_sub_theme_path(sub_theme), :class => 'btn'
        %br
        = link_to 'Удалить', sub_theme, :confirm => 'Вы уверены?', :method => :delete, :class => 'btn btn-danger'

%br

= link_to 'Новая подтема', new_sub_theme_path, :class => 'btn'
