= form_for @estimation do |f|
  -if @estimation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@estimation.errors.count, "error")} prohibited this estimation from being saved:"
      %ul
        - @estimation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :theme_pct
    = f.number_field :theme_pct
  .field
    = f.label :question_pct
    = f.number_field :question_pct
  .actions
    = f.submit 'Save'
