= form_for @scenary do |f|
  -if @scenary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scenary.errors.count, "error")} prohibited this scenary from being saved:"
      %ul
        - @scenary.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
