%h1 Listing scenaries

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @scenaries.each do |scenary|
    %tr
      %td= scenary.name
      %td= link_to 'Show', scenary
      %td= link_to 'Edit', edit_scenary_path(scenary)
      %td= link_to 'Destroy', scenary, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Scenary', new_scenary_path
