%h1 Блоки групп
%table{:class => "table table-striped"}
  %thead
    %tr
      %th= t "activerecord.attributes.discipline_year_block.groups"
      %th= t "activerecord.attributes.discipline_year_block.tests"
      %th= t "activerecord.attributes.discipline_year_block.scripts"
  %tbody
    - @discipline_year_blocks.each do |discipline_year_block|
      %tr
        %td
          = discipline_year_block.groups.map(&:name).join(',')
        %td
          = discipline_year_block.tests.map(&:name).join(',')
        %td
          - discipline_year_block.tests.each do |test|
            = test.scipts.map(&:name).join(',')

= link_to "Новый блок групп", new_discipline_year_block_path, :class => 'btn btn-primary'

.free-space
