%fieldset
  %legend= t "controllers.#{controller_name}.#{action_name}"
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :necessary, :class => 'control-label'
    .controls
      = f.check_box :necessary, :class => 'check_box'
  .control-group
    = f.label :block, :class => 'control-label'
    .controls
      = f.check_box :block, :class => 'check_box'
  .control-group
    = f.label :num_try, :class => 'control-label'
    .controls
      = f.number_field :num_try, :class => 'number_field'
  .control-group
    = f.label :period, :class => 'control-label'
    .controls
      = f.number_field :period, :class => 'number_field'
  .control-group
    = f.label :test_type, :class => 'control-label'
    .controls
      = f.select :test_type, @test.types, :class => 'select'
  .control-group
    = f.label :auth_type, :class => 'control-label'
    .controls
      = f.select :auth_type, @test.auth_types, :class => 'number_field'
  .control-group
    = f.label :w_key, :class => 'control-label'
    .controls
      = f.check_box :w_key, :class => 'checkbox'
  .control-group
    = f.label :ext_access, :class => 'control-label'
    .controls
      = f.check_box :ext_access, :class => 'checkbox'
  .control-group
    = f.label :msiu_access, :class => 'control-label'
    .controls
      = f.check_box :msiu_access, :class => 'checkbox'
  .control-group
    = f.label :scheduled_date, :class => 'control-label'
    .controls
      = f.date_select :scheduled_date, :prompt => {:day => 'День', :month => 'Месяц', :year => 'Год'}
  .control-group
    = f.label :scheduled_pair, :class => 'control-label'
    .controls
      = f.number_field :scheduled_pair, :class => 'number_field'
  = f.fields_for :scripts do |builder|
    = render "script", :f => builder
  %div.partial= link_to_add_fields "Добавить сценарий", f, :scripts
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Отмена", tests_path, :class => 'btn'
