%h1 Список тестов

%table
  %tr
    %th Список тестов
    %th Список сценариев
    %th Дисциплина
    %th Группа
    %th Действия

  - @tests.each do |test|
    %tr
      %td= link_to test.name, test
      %td
        - test.scripts.each do |script|
          = link_to script.name, script
          %br
      %td= test.disciplines_groups.discipline.name
      %td= test.disciplines_groups.group.name + " - " + test.disciplines_groups.group.year
      %td= link_to 'Удалить', test, :confirm => 'Вы уверены?', :method => :delete

%br

= link_to 'Новый тест', :action => 'new', :discipline => params[:discipline], :group => params[:group]
