%p
  %b Название:
  = @test.name
%p
  %b Необходимость:
  = @test.necessary ? "ДА" : "НЕТ"
%p
  %b Блокирован?:
  = @test.block ? "ДА" : "НЕТ"
%p
  %b Количество попыток:
  = @test.num_try
%p
  %b Период пересдачи:
  = @test.period
%p
  %b Тип:
  = @test.type
%p
  %b Тип авторизации:
  = @test.auth_type
%p
  %b С ключем?:
  = @test.w_key ? "ДА" : "НЕТ"
%p
  %b Доступен извне?:
  = @test.ext_access ? "ДА" : "НЕТ"
%p
  %b Доступен в МГИУ?:
  = @test.msiu_access ? "ДА" : "НЕТ"
%p
  %b Порядок:
  = @test.order
- if !@test.scripts.blank?
  %table
    %tr
      %th Список сценариев
      %th Список тем
    - @test.scripts.each do |script|
      %tr
        %td= link_to script.name, script
        %td
          - script.themes.each do |theme|
            = link_to theme.name, theme
            %br

= link_to 'Редактировать', edit_test_path(@test)
\|
= link_to 'Назад', tests_path
