#aside.box
  %ul.box
    %li= link_to 'Тесты', tests_path
    %li= link_to 'Сценарии', scripts_path
    %li= link_to 'Темы', repository_themes_path
    %li= link_to 'Группы', groups_path
    %li= link_to 'Дисциплины', disciplines_path
