!!!
%html
  %head
    %title Редактор сценариев тестирования
    = stylesheet_link_tag 'token-input-facebook', 'bootstrap', 'reset', 'main', '2col', 'mystyle', 'style'
    = javascript_include_tag 'application', 'bootstrap'
    = csrf_meta_tag
  %body
    #main
      = render 'layouts/tray'
      %hr.noscreen
      #cols.box
        = render 'layouts/aside'
        %hr.noscreen
        #content.box
          -unless notice.blank?
            .msg.done=notice
          -unless flash[:error].blank?
            .msg.error=flash[:error]
          = yield
      %hr.noscreen
      = render 'layouts/footer'
